@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

:root {
    --navbar-ff: 'Nunito', sans-serif;
}

.toggled-menu {
    position: fixed;
    background-color: #FCFBFA;
    width: 150px;
    height: 300px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 2px;
    border: 0.25px solid grey;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar {
    height: 4rem;
    width: 100vw;
    
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--navbar-ff);
    font-size: 1.15rem;
    transition: background-color 0.5s ease;

}

.menu-links-items {
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.menu-links-items:hover {
    color: grey;
    transform: scale(1.05);
}

.corner-button {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 1rem 0 0 0;
}

.toggled-menu-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    text-decoration: none;
    margin-top: 5rem;
    margin-left: 2rem;
    color: black;
    font-family: var(--navbar-ff);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
}